<div class="admin-page-container">
<div id="sales-chart-block">
{{ drupal_entity('block_content', 18) }}
</div>
<div id="income-chart-block">
{{ drupal_entity('block_content', 19) }}
</div>
<div id="orders-paid-chart-block">
{{ drupal_entity('block_content', 20) }}
</div>
<div id="visitor-chart-block">
{{ drupal_entity('block_content', 21) }}
</div>
<div id="recent-order-chart-block">
{{ drupal_entity('block_content', 22) }}
</div>
<div id="product-overview-block">
{{ drupal_entity('block_content', 23) }}
</div>
<div id="orders-block">
{{ drupal_entity('block_content', 24) }}
</div>
<div id="top-products-block">
{{ drupal_entity('block_content', 25) }}
</div>
<div id="earnings-block">
{{ drupal_entity('block_content', 26) }}
</div>
</div>
