<div class="admin-page-container">
<div class="record-sec1 mb-30">
<div id="sales-chart-block" class="cmn">
{{ drupal_entity('block_content', '8b239bf2-8359-4afa-9364-20903e7580e8') }}
</div>
<div id="income-chart-block" class="cmn">
{{ drupal_entity('block_content', '4e4fd182-30be-486b-b0b8-95013c8a77e0') }}
</div>
<div id="orders-paid-chart-block" class="cmn">
{{ drupal_entity('block_content', 'e8b05901-43a9-43aa-bbe7-dbbd8f045520') }}
</div>
<div id="visitor-chart-block" class="cmn">
{{ drupal_entity('block_content', '46dd985b-1c4c-4683-9798-e82770392335') }}
</div>
</div>
<div class="record-sec2 mb-30">
<div id="recent-order-chart-block">
{{ drupal_entity('block_content', '9f562712-91d1-4dcb-9591-35397f6fd991') }}
</div>
<div id="product-overview-block">
{{ drupal_entity('block_content', 'bb2454f7-044a-40d0-8d4c-5ad94ee768d1') }}
</div>
</div>
<div class="record-sec3">
<div id="orders-block">
{{ drupal_entity('block_content', 'a904369b-f04b-4a08-af41-e7f9266e2096') }}
</div>
<div id="top-products-block">
{{ drupal_entity('block_content', '050def44-6afd-48c6-ad2b-480e3d4fb758') }}
</div>
<div id="earnings-block">
{{ drupal_entity('block_content', '2b610703-12bb-4b3b-a583-c5f78b7c28b7') }}
</div>
</div>
</div>